body {
    color: #141414;
}

.main_content {
    border-radius: 16px;
    background-color: #bababa;
    margin: auto;
    padding: 16px;
    width: 80%;
}

.image_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.skill_table {
    background-color: #efefef;
    border: 1px solid #646464;
    border-collapse: "collapse";
    width: 100%;
}
.column_name {
    background-color: #e6e6e6;;
    color: #424242;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    width: 20%;
}
.column_value_numeric {
    background-color: #efefef;
    color: #424242;
    font-family: monospace, monospace;
    font-size: 0.9em;
}
.column_value {
    background-color: #efefef;
    color: #424242;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}
